<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="tapsell-v3-cordova-plugin"
    version="3.1.16">
	<!--the above line should remain in line 5, always! else change newVersion script-->
    <name>Tapsell Cordova Plugin</name>
    <description>Tapsell Cordova Plugin</description>
    <author>Tapsell</author>
    <license>Apache 2.0</license>
    <keywords>tapsell,video,ad</keywords>
    <repo>https://github.com/tapsellorg/TapsellSDK-CordovaPlugin</repo>
    <issue>https://github.com/tapsellorg/TapsellSDK-CordovaPlugin/issues</issue>
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/tapsell.js">
        <clobbers target="window.tapsell" />
    </js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TapsellCordovaInterface">
				<param name="android-package" value="ir.tapsell.sdk.TapsellCordovaInterface"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"></uses-permission>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="ir.tapsell.sdk.TapsellAdActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
		</config-file>

		<source-file src="src/android/TapsellCordovaInterface.java" target-dir="src/ir/tapsell/sdk"/>
        <source-file src="src/android/tapsell-cordova-v3.1.11.jar" target-dir="libs" />
	</platform>
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TapsellCordovaInterface">
                <param name="ios-package" value="TapsellCordovaInterface"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/TapsellCordovaInterface.h" />
        <source-file src="src/ios/TapsellCordovaInterface.m" />
		<framework src="src/ios/TapsellSDKv3.framework" embed="true" />
		<hook type="after_platform_add" src="hooks/embedframework/addEmbedded.js" />
    </platform>
	
</plugin>
